<br><br>
<div class="row justify-content-center">
    <center>
        <h1>S'inscrire</h1>
    </center>
</div>
{{#if messages.inscriptionfail}}
<div class="alert alert-danger" role="alert">
    {{messages.inscriptionfail}}
</div>
{{/if}}
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">

                <div class="card-body">

                    <form class="form-horizontal" method="post" action="inscription">

                        <div class="form-group">
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Email</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                aria-hidden="true"></i></span>
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Entrez votre email" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="Entrez votre mot de passe" required />
                                    </div>
                                </div>
                            </div>
                            <label for="nom" class="cols-sm-2 control-label">Nom</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="nom" id="nom"
                                        placeholder="Entrez votre nom" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="prenom" class="cols-sm-2 control-label">Prenom</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="prenom" id="prenom"
                                        placeholder="Entrez votre prénom" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="telephone" class="cols-sm-2 control-label">Téléphone</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="telephone" id="telephone"
                                        placeholder="Entrez votre téléphone (0XXXXXXXXX)" required maxlength="10" />
                                </div>
                            </div>
                        </div><br>
                        <center>
                            <div class="form-group center  "><a href="connexion">
                                    <button type="button" class="btn   btn-lg" style="background-color: #a9a9a9">Se
                                        connecter</button></a>
                                <button type="submit" class="btn  btn-lg"
                                    style="background-color: #ff173e ">S'inscrire</button>
                            </div>
                        </center>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div><br>